{% extends "base.html" %}


{% block head %} 
<title>Profile Editor</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}

<div id="left-div">
    <div class="container">
        <div class="form">
            <form method="POST">
                <input type="text" name="pfp" id="pfp" placeholder="Profile Image URL">
                <input type="text" name="background" id="background" placeholder="Wallpaper URL">
                <br>
                <input type="submit" name="update_profile" value="Update Profile">
            </form>
        </div>

        {% for link in user.links %}
        <div class="link">
            <p>{{ link.display_url }}</p>
            <a href="{{ link.url }}">{{ link.url }}</a>
            <div class="buttons">
                <a href="/delete/{{ link.id }}" >
                    <button>Delete</button>
                </a>
                <a href="/edit/{{ link.id }}" >
                    <button>Edit</button>
                </a>
            </div>
        </div>
        {% endfor %}
  


        <div class="form">
            <form method="POST">
                <input type="text" name="url" id="url" placeholder="URL">
                <input type="text" name="display_url" id="display_url" placeholder="Title">
                <br>
                <input type="submit" name="add_link" value="Add Link">
            </form>
        </div>
    </div>
</div>

<div class="seperator"></div>

<div id="right-div">
    {% for info in user.profile %}
    <img src="{{ info.pfp }}" alt="pfp" class="profile-picture">
    {% endfor %}
    <div class="profile-name">
        <a href="@{{ user.username }}">{{ user.username }}</a>
    </div>
    {% for link in user.links %}
    <a href="{{ link.url }}" class="links">{{ link.display_url }}</a>
    {% endfor %}
</div>

{% endblock %}